@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body > div:first-child,
div#__next,
div#__next > div {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .one-cell {
    position: relative;
    width: 100%;
    height: 100%;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: none;
  }
  .front {
    transform: scaleX(-1) scale(1.2);
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .some {
    transform: rotateY(90deg);
  }

  .scene {
    display: inline-block;
    width: 100%;
    height: 100%;
    /*   border: 1px solid #CCC; */
    perspective: 600px;
  }

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }

  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }

  .card__face--front {
    background: crimson;
  }

  .card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
  }
}
